<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
    
    <!-- Boosstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
        <a class="navbar-brand" href="/">SBA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
           <!--  <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/predict">Loan Approval Prediction</a>
            </li>
            <!-- <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Data Visualization
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('cat_fn') }}">Histogram & Box plot</a>
                <a class="dropdown-item" href="{{ url_for('scatt_fn') }}">Scatter Plot</a>
                <a class="dropdown-item" href="{{ url_for('pie_fn') }}">Pie</a>
              </div>
            </li> -->
          </ul>
        </div>
    </nav>
    <!-- End of Navbar -->


    <!-- Content -->
<!-- <!--     <div class="container">
      <div class="row justify-content-center">
        <h1 class="text-center display-4 my-1">SBA Data Visualization</h1>
        <div class="container">
        <!-- Navigasi -->
         <!--  <ul class="my-4 nav nav-pills nav-fill">
              <li class="nav-item font-weight-bold">
                  <a class="nav-link text-dark lead" href="{{ url_for('cat_fn') }}">Histogram & Box</a>
              </li>
              <li class="nav-item font-weight-bold">
                  <a class="nav-link text-dark lead" href="{{ url_for('scatt_fn') }}">Scatter</a>
              </li>
              <li class="nav-item font-weight-bold">
                  <a class="nav-link text-dark lead" href="{{ url_for('pie_fn') }}">Pie</a>
              </li>
          </ul>
          

          <!-- Content -->                  
          {% block content %}
          <!-- BLANK SPACE -->
          {% endblock %}
        <!-- </div> -->

     <!--  </div>
      <div class="row justify-content-center">
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Bagja Satiaraharja 2020</span>
            </div>
          </div>
        </footer>
        
      </div>
    </div> --> --> --> -->

</body>
</html>